<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head(~{::title})">
    <title>JPA Shop - Item list</title>
</head>
<body>

<nav th:replace="fragments/common :: navbar"></nav>

<div class="container">
    <div class="mb-3"></div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>상품명</th>
            <th>가격</th>
            <th>재고수량</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${items}" class="align-middle">
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.stockQuantity}"></td>
                <td>
                    <a th:href="@{/items/{itemId}/edit(itemId=${item.id})}" class="btn btn-warning" role="button">수정</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>