<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head(~{::title})">
    <title>JPA Shop - New Member</title>
</head>

<body>
<div class="container">
    <h1 class="display-4">회원 가입</h1>

    <form action="/members/new" method="post">
        <div class="mb-3">
            <label for="inputName">이름</label>
            <input type="text" name="name" class="form-control" id="inputName" placeholder="이름을 입력하세요">
        </div>
        <div class="mb-3">
            <label for="city">도시</label>
            <input type="text" name="city" class="form-control" id="city" placeholder="도시를 입력하세요">
        </div>
        <div class="mb-3">
            <label for="street">거리</label>
            <input type="text" name="street" class="form-control" id="street" placeholder="거리를 입력하세요">
        </div>
        <div class="mb-3">
            <label for="zipcode">우편번호</label>
            <input type="text" name="zipcode" class="form-control" id="zipcode" placeholder="우편번호를 입력하세요">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>