<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head(~{::title})">
    <title>JPA Shop</title>
</head>
<body>
<div class="container">
    <h1 class="display-2">HELLO SHOP</h1>

    <div class="card mb-3">
        <div class="card-header fw-bold">회원 기능</div>
        <div class="card-body">
            <a class="btn btn-primary " href="/members/new">회원 가입</a>
            <a class="btn btn-primary" href="/members">회원 목록</a>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header fw-bold">상품 기능</div>
        <div class="card-body">
            <a class="btn btn-primary" href="/items/new">상품 등록</a>
            <a class="btn btn-primary" href="/items">상품 목록</a>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header fw-bold">주문 기능</div>
        <div class="card-body">
            <a class="btn btn-primary" href="/order">상품 주문</a>
            <a class="btn btn-primary" href="/orders">주문 내역</a>
        </div>
    </div>
</div>

</body>
</html>